@charset "UTF-8";

.cookie_div {
	position: fixed;
	text-align: center;
	MIN-WIDTH: 10%;
	MIN-HEIGHT: 10EM;
	top: 11em;
	background-color: white;
	right: 2em;
	border: 1px solid;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 5px 5px 5px -1px grey;
}

.cookie_img img {
	width: 100%;
	height: 100%;
	border-radius: 1em;
	object-fit: fill;
}

.cookie_img {
	width: 100px;
	height: 100px;
	border: 1px solid darkgreen;
	border-radius: 1em;
	margin: auto;
	margin-bottom: 1em;
}

.cookie_div h5 {
	border-bottom: 1px solid;
	margin-bottom: 1em;
}

.cookie_img i {
	position: absolute;
	right: 0.8em;
} 

@media screen and (max-width: 768px) {
   .cookie_div {
      display: none;
   }
}