@charset "UTF-8";

.form-control {
	display: block;
	/* width: 100%; */
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.product-detail-img {
	width: 100%;
	max-height: 250px;
	margin-bottom: 15px;
}