@charset "UTF-8";

.mypage-main-section {
	margin-top: 120px;
	min-height: 100%;
	display: flex;
	background-color: #efefef;
}

.main-body {
	padding: 15px;
}

.mypage-section1 {
	width: 70%;
	margin: 50px auto 0px;
}
 
.mb-3, .my-3 {
	margin-bottom: 1rem !important;
} 

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	overflow-wrap: break-word;
	background-color: rgb(255, 255, 255);
	background-clip: border-box;
	border-width: 0px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.125);
	border-image: initial;
	border-radius: 0.25rem;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px
		1px 2px 0px;
}

.card-body {
	min-height: 1px;
	flex: 1 1 auto;
	padding: 1rem;
}

.filebox label {
	display: inline-block;
	color: rgb(153, 153, 153);
	font-size: inherit;
	line-height: normal;
	vertical-align: bottom;
	background-color: rgb(253, 253, 253);
	cursor: pointer;
	padding: 0.5em 0.75em;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(226, 226, 226);
	border-image: initial;
	border-radius: 0.25em;
}
.badge-success{
	float: right;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0px, 0px, 0px, 0px);
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}
.list-group-item.active {
    background-image: -webkit-linear-gradient(top,#51b338 0,#3ad13e  100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3bd37f),to(#33874d));
    background-image: linear-gradient(to bottom,#30ef2d 0,#2d764a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    /* background-repeat: repeat-x; */
    border-color: #28a745;
    background-color: #28a745;
}
.list-group-item.active.hover {
   background-image: -webkit-linear-gradient(top,#51b338 0,#3ad13e  100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3bd37f),to(#33874d));
    background-image: linear-gradient(to bottom,#30ef2d 0,#2d764a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    /* background-repeat: repeat-x; */
    border-color: #28a745;
    background-color: #28a745;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #28a745;
    background-image: -webkit-linear-gradient(top,#51b338 0,#3ad13e 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#33874d));
    background-image: linear-gradient(to bottom,#30ef2d 0,#2d764a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #28a250;
}