@charset "UTF-8";
.mapBox {
    width: 100%;
    height: 100%;
    background: #1f2022;
    box-sizing: border-box;
    padding: 130px 2% 23px;
}
#cont {
    overflow: hidden;
}
.mapCon {
    background: #1f2022;
    padding: 0px 4% 150px;
}
.priCon dl {
    border: 1px solid #56585d;
    background: #2e3032;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.mapBox .title h2 {
    font-size: 60px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
}
.mapBox .title p {
    font-size: 20px;
    line-height: 100%;
    margin-top: 15px;
}
.mapBox .title {
    overflow: hidden;
    color: #aaa;
    position: relative;
}

.priCon dl {
	border: 1px solid #56585d;
	background: #2e3032;
	padding: 20px;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 20px;
	border-radius: 5px
}

.priCon dl dt {
	font-size: 15px;
	color: #0188cc;
	padding-bottom: 10px;
}

.priCon dl dd {
	padding-bottom: 10px;
	color: #aaa
}

.priCon dl dd ul {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
}

.priCon dl dd ul li {
	line-height: 22px;
}
.mapBox {
    background: #1f2022;
    box-sizing: border-box;
}
.mapBox .title {
    overflow: hidden;
    color: #aaa;
    position: relative;
}
.mapBox .title h2 {
    font-size: 60px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
}
.mapBox .title p {
    font-size: 20px;
    line-height: 100%;
    margin-top: 15px;
}
ul.loc_info li {
    font-size: 1.3em;
}

ul.loc_info li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #aaa;
}
ul, ol, li {
    list-style: none;
}
ul.loc_info li dl {
    overflow: hidden;
}