@charset "UTF-8";

.more-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	cursor: pointer;
	width: 100%;
	color: #868e96;
	font-size: 16px;
	border-top: 1px solid #e9ecef;
}

.row-caption h5 {
	font-weight: bold;
	margin-bottom: 20px;
}
img {
	border: 1px solid transparent;
	object-fit: contain;
}
.getSearchList {
	color: #198754;
	background-color: #fff;
	border-color: #198754;
	border: none;
	border-top: 1px solid;
	margin-top: 1em;
	padding-top: 0.4em;
	margin-bottom: 5em;
}