@charset "UTF-8";
.scroll_top_btn_warpper {
    position: fixed;
    bottom: 0;
    left: calc(50% + 440px);
}
.scroll_top_btn {
    margin-bottom: 65px;
}
.scroll_top_btn {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 88px;
}
.scroll_top_btn img {
    width: 50px;
    height: 50px;
}
.scroll_top_btn img {
    width: 45px;
    height: 45px;
}
#back-to-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}